<nav class="navbar">
  <div class="div1">
    <div class="div2">
      <a href="/"><img class="img_logo" src="https://i.imgur.com/UlmBuh3.png"></a>
      <div style="display: flex; margin-top: 10px">
        <a href=""><img class="img_settings"
            src="https://w7.pngwing.com/pngs/257/93/png-transparent-settings-gear-icon-gear-configuration-set-up-thumbnail.png"></a>

        <a class="login_text" href="/login">Вход</a>
      </div>
    </div>
  </div>
</nav>