<nav class="white darken-4">
    <div class="nav-wrapper">
      <a href="/"><img class="logo" src="https://i.imgur.com/mIq3yYG.png"></a>
      
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <a href=""><img class="settings" src="https://flyclipart.com/thumbs/cog-large-900pixel-clipart-cog-design-clipartsfree-gear-clipart-1503651.png"></a>

      </ul>
    </div>
</nav>