<h2> Admin Page </h2>
<form action="/createproduct" method="post">

<div class="input-field">
    <input type="text" name="Name" placeholder="Extension name">
    <input type="text" name="Image" placeholder="Extension Image">
    <input type="number" name="Rate" placeholder="Extension Rate">

</div>

<button type="submit" class="btn">Добавить расширение</button>
    

</form>