<div class="display">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="leftbar">
        <div class="input-group mb-3">
            <button class="btn"><i class="fa fa-search"></i></button>
            <input type="text" class="form-control" placeholder="Поиск по магазину"
                aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
        <div>
            <button class="buttons_left_bar1" style="border: 0;"><a style="color: white; text-decoration:none"
                    href="/">Расширения</a></button>
            <button class="buttons_left_bar2" style="border: 0; margin-top: 1px"><a
                    style="color: white; text-decoration:none" href="/">Темы</a></button>
            <div class="but">
                <hr>
                <p style="font-weight: bold; font-size: 20px">Категории</p>
                <a style="color: gray; text-decoration:none" href="">Все</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Рекомендовано</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Блоги</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Инструменты разработчика</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Новости и погода</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Покупки</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Работа</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Развлечения</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Социальные сети и общения</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Специальные возможности</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Спорт</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Средства поиска</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Фото</a>
                <hr>
                <a style="color: gray; text-decoration:none" href="">Политика <br> конфиденциальности</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Условия <br> пользования</a>
                </br>
                </br>
                <a style="color: gray; text-decoration:none" href="">Подробнее об Интернет- <br> магазине Chrome</a>
            </div>


        </div>

    </div>
    <div>
    <div class="carousel2">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <div class="div3">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://lh3.googleusercontent.com/oaLU2TasQ5hVQBCTj9_bYf4gPIVFPt0FrPwkwtPUFeT7NNeXEo_8qsgIwGYksvx3yi0pnIdgb6LPJiC239FEUAtarco=w700-h280-e365-rj-sc0x00ffffff"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/Tcmj8k4ja_fCUQX2aduD_A8qPi98PhpAzJaNupzZ-qfAeU7_JtY8p8vwV1tPrJD9BaC1aT0qVjWDPBC9QYBcBk2NJg=w700-h280-e365-rj-sc0x00ffffff"
                            class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://lh3.googleusercontent.com/coCYD60X7AfKYnfWYQ0ibO2asV-_i8FBeSPZU3uQwQnSXDKvP4BhKt6cf0rCIU9Sg6TDBeZyih-5Sq7kr2w-Ia_XNQ=w700-h280-e365-rj-sc0x00ffffff"
                            class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <hr style="width: 1000px;">
    </div>

<div style="display: flex; margin-left:25px; justify-content:space-between;flex-wrap: wrap;">
    {{#if extensions.length}}
{{#each extensions}}
    <div class="cards">
        <div class="image_cards">
        <img class ="image_cards2" src="{{Image}}">
        </div>

        <div>
            <div class="name">
            {{Name}}
            </div>

            <div>
            <a>Количество оценок: {{Rate}}</a>
            </div>
        </div>
    </div>
{{/each}}
{{else}}
<h3> No Extensions </h3>
{{/if}}
</div>
</div>
</div>






