.navbar
{
    box-shadow: 0px 0px 6px 3px #000000; 
    background-color: white;
}
.img_logo
{
    width:auto; 
    height:50px;
}
.div1
{
    width: 1300px; 
    margin-left: auto; 
    margin-right: auto;
}
.div2
{
    display: flex; 
    justify-content:space-between; 
    object-fit: fill; 
    padding: 20px 0;
}
.img_settings
{
    width:auto; 
    height:30px;
}
.login_text
{
    color: gray; 
    text-decoration: none; 
    margin-left: 15px; 
    margin-top: 3px;
}
.carousel
{
    margin-top: 10px;
}
.carousel2
{
    width: 70%;
}
.div3
{
    width: 1000px;
}
.leftbar
{
    width: 27%;
    margin-top: 10px;
    background-color: #F1F3F4;
}
.display
{
    display: flex;
    justify-content: space-between;
}
.form-control
{
    width: 30px;
}
.buttons_left_bar1
{
    border-radius: 0 35px 35px 0;
    background-color: #1A73E8;
    padding: 10px 90px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
.buttons_left_bar2
{
    border-radius: 0 35px 35px 0;
    background-color: #1A73E8;
    padding: 10px 125px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
hr
{
    background-color: black;
}
.but
{
    padding: 20px;
}
.cards
{
    margin-right: 20px;
}
.name
{
    font-weight: bold;
}
.image_cards
{
    width: 400px;
    height: 200px;
}
.image_cards2
{
    width: 100%;
    height: 100%;
}